Yates-Managerial_Machines.pdf
tempCodeRunnerFile.py
light-when_computers_were_women.pdf
light-when_computers_were_women.mp3
grier-endeavor_article_humans_as_computers.pdf
grier-endeavor_article_humans_as_computers.mp3
Yates-Managerial_Machines.mp3
source
gray_suri-humans_behind_AI.pdf
aspray_kelly_ensmenger-inventing_the_computer.mp3
gray_suri-humans_behind_AI.mp3
aspray_kelly_ensmenger-inventing_the_computer.pdf
